# Виртуальные окружения
venv
.venv
env
ENV
ENV/

# Кэш и артефакты Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp

# Git и IDE
.git
.gitignore
.idea
.vscode

# Локальные настройки
*.sqlite3
.opencode
