.makeorder-content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr min(312px, 25%);
  gap: 11px;
  margin-top: 30px;
}

.makeorder-title {
  margin-top: 30px;
}

.makeorder-section {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 30px 40px 50px 40px;
}

.makeorder-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.makeorder_user-info {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.makeorder_payment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.makeorder_payment-method {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey200);
  padding: 0 30px;
  height: 54px;
  gap: 20px;
  /* пока неактивны */
  color: var(--grey300);
}

.makeorder_payment-method__active {
  color: var(--orange500);
  border-color: var(--orange500);
}

.makeorder_payment-input {
  display: flex;
  align-items: center;
}

.makeorder_del-type {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.makeorder_del {
  width: 380px;
  height: 82px;
  background-color: var(--grey50);
  border: 1px solid var(--grey100);
  border-radius: var(--border-radius);
  display: flex;
  padding: 20px 30px;
  gap: 15px;
}

.makeover_del-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.makeover_del-title {
  color: var(--grey950);
}

.makeover_del-desc {
  color: var(--grey800);
}

.makeorder_del__active {
  background-color: var(--orange50);
  border-color: var(--orange500);

  .makeover_del-icon svg path {
    fill: var(--orange600)
  }

  .makeover_del-title,
  .makeover_del-desc {
    color: var(--orange600);
  }
}

.change-address_btn {
  height: 45px;
  padding: 0 20px;
  width: fit-content;
  margin-left: auto;
}

.delivery-address-selected {
  display: grid;
  margin-top: 50px;
  gap: 10px;
  grid-template-columns: 380px 380px;
}

.select-address_btn {
  margin-top: 50px;
}

.select-store_btn {
  height: 40px;
  padding: 0 20px;
  margin-top: 20px;
  border-radius: 15px;
}

.selected-store-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.store-name {
  color: var(--orange500);
}