@use '../styles/common.scss';

.page-path {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.page-path_name {
  color: var(--grey400);
}

.section-block {
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 10px;
  margin-top: 40px;
}

.section-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow3);
  padding: 20px;
  height: fit-content;
}

.section-nav_item {
  padding: 0 15px;
  height: 50px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.section-nav_item__logout {
  margin-top: 5px;
  border-top: 1px solid var(--grey100);
  border-radius: 0;
}

.section-nav_item__active,
.section-nav_item__active:visited {
  background-color: var(--orange50);
  color: var(--orange500);
  font-weight: 600;
}

.section-content__with-nav {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow3);
  height: fit-content;
}

.section-content {
  margin-top: 40px;
  height: fit-content;
}


@media (max-width: common.$breakpoint-laptop) {
  .page-path {
    margin-top: 25px;
  }

  .section-nav {
    display: none;
  }

  .section-block {
    display: block;
    margin-top: 23px;
  }

  .section-content__with-nav {
    background-color: transparent;
    box-shadow: none;
  }
}