.about-link {
  height: 40px;
  background-color: var(--orange200);
  padding: 0 20px;
  border-radius: 15px;
}

.about-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow3);
  padding: 30px 40px 35px 40px;
}

.about-page_item {
  display: flex;
  background-color: var(--grey50);
  border-radius: 5px;
  align-items: center;
  padding: 3px 0;

  .service-page_item-text {
    padding: 15px 20px 15px 10px;
  }

  .service-page_item-number {
    height: 100%;
  }
}

.about-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-page_list {
  max-width: 1133px;
}

.about_stores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.about_store {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.about_store-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about_store-img {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
  }
}

.about_history {
  display: flex;
  flex-direction: column;
  gap: 30px;
}