aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiologger==0.7.0
aiosignal==1.3.2
amqp==5.3.1
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.6.2.post1
asgiref==3.5.2
atomicwrites==1.4.1
attrs==22.2.0
beautifulsoup4==4.11.2
billiard==4.2.1
black==25.1.0
blessed==1.20.0
boto3==1.37.33
botocore==1.37.33
bs4==0.0.2
celery==5.5.3
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.3.1
coreapi==2.3.3
coreschema==0.0.4
coverage==7.8.2
cryptography==44.0.2
cycler==0.12.1
DateTime==5.5
DAWG-Python==0.7.2
defusedxml==0.8.0rc2
Deprecated==1.2.18
deprecation==2.1.0
devgoldyutils==3.0.0
disnake==2.10.1
Django==3.2.16
django-appconf==1.1.0
django-bootstrap5==22.2
django-cml==0.4.0
django-cors-headers==3.7.0
django-enum==2.2.2
django-filter==23.1
django-storages==1.8
django-templated-mail==1.1.1
django_debug_toolbar==3.8.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
djoser==2.1.0
docopt==0.6.2
dotenv==0.9.9
drf-yasg==1.21.10
editor==1.6.6
et_xmlfile==2.0.0
Faker==12.0.1
fastapi==0.115.11
filelock==3.15.4
flake8==5.0.4
flake8-docstrings==1.7.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.6.1
googleapis-common-protos==1.69.1
greenlet==3.1.1
grpcio==1.71.0
grpcio-tools==1.71.0
guidata==3.1.0
guiqwt==4.4.5
h11==0.14.0
h5py==3.13.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.23.4
idna==3.7
inflection==0.5.1
iniconfig==2.0.0
inquirer==3.4.0
intervaltree==3.1.0
ipymarkup==0.9.0
iso8601==2.1.0
itypes==1.2.0
Jinja2==3.1.4
jinxed==1.3.0
jmespath==1.0.1
kiwisolver==1.4.8
kombu==5.5.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mccabe==0.7.0
mdurl==0.1.2
mixer==7.2.2
mov-cli==4.4.15
mov-cli-test==1.1.7
multidict==6.1.0
mypy-extensions==1.0.0
natasha==1.6.0
navec==0.10.0
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.5
packaging==23.0
pandas==2.2.3
pathspec==0.12.1
pep8-naming==0.13.3
pika==1.3.2
pillow==11.0.0
platformdirs==4.3.7
pluggy==1.0.0
prompt_toolkit==3.0.51
propcache==0.3.0
protobuf==5.29.3
psycopg2==2.9.10
py==1.11.0
pycocotools==2.0.8
pycodestyle==2.9.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydocstyle==6.3.0
pyflakes==2.5.0
Pygments==2.18.0
PyJWT==2.10.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.9
pyqt-tools==1.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pyTelegramBotAPI==4.23.0
pytest==7.1.3
pytest-django==4.5.2
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.1.1
python3-openid==3.2.0
PythonQwt==0.14.5
pytubefix==8.3.2
pytz==2022.7
PyYAML==6.0.1
QtPy==2.4.3
RapidFuzz==3.10.1
razdel==0.5.0
readchar==4.2.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
ruff==0.8.0
runs==1.2.2
s3transfer==0.11.4
safetensors==0.4.3
scipy==1.15.2
setuptools==75.6.0
shellingham==1.5.4
shiboken6==6.9.0
six==1.17.0
slovnet==0.6.0
sniffio==1.3.1
snowballstemmer==2.2.0
social-auth-app-django==4.0.0
social-auth-core==4.5.4
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.40
sqlparse==0.4.3
starlette==0.46.0
telebot==0.0.5
thefuzz==0.22.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tqdm==4.66.4
transformers==4.42.4
typer==0.13.0
typing_extensions==4.12.2
tzdata==2025.2
Unidecode==1.3.8
uritemplate==4.2.0
urllib3==2.2.2
uvicorn==0.34.0
vine==5.1.0
wcwidth==0.2.13
wikipedia==1.4.0
wrapt==1.17.2
xmod==1.8.1
yandexcloud==0.336.0
yapf==0.32.0
yargy==0.16.0
yarl==1.18.3
ydb==3.19.2
zope.interface==7.2
