@use '../../styles/common.scss';

.header {
  padding: 20px var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black-g);
  box-shadow: 0px 1px 100px 1px var(--black10);
  position: fixed;
  width: 100vw;
  z-index: 100;
  color: var(--white);
  height: var(--header-height);
}

.header-info {
  display: flex;
}

.header_logo {
  height: 30px;
  width: fit-content;

  img {
    width: 100%;
    height: 100%;
  }
}

.header-info_nav {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  margin-left: 35px;
}

.header-info_link,
.header-info_link:visited {
  color: var(--white);
}

.header-info_contacts {
  margin-top: 6px;
  margin-left: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

.header_contacts-icon {
  height: 24px;
  width: 24px;

  img {
    width: 100%;
    height: 100%;
  }
}

.header-main {
  display: flex;
  height: 44px;
}

.header-catalog {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 0 12.5px;
}

.header-catalog_icon {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-catalog_text {
  color: var(--white);
}

.header-search {
  position: relative;
  margin-left: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--orange500);
}

.header-search_input {
  height: 100%;
  padding: 0 25px;
  width: calc(100% - 57px);
  background-color: var(--white);
  color: var(--black-r);
}

.header-search_btn {
  position: absolute;
  height: calc(100% + 2px);
  width: 59px;
  right: -2px;
  border-radius: 0;

  img {
    width: 16px;
    height: 16px;
  }
}

.header-nav {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.header-nav-item:link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.header-nav-item:visited {
  color: var(--white);
}

.header-nav-item:hover {
  color: var(--orange500);

  .header-nav_icon svg path {
    fill: var(--orange500);
  }
}

.header-nav_icon {
  svg path {
    fill: var(--white)
  }
}

// .header-login {
//   width: 97px;
//   margin-left: 20px;
// }

.header-nav_login {
  height: 40px;
  width: 75px;
  background-color: var(--grey200);
  border-radius: var(--border-radius);
  color: var(--grey900);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

@media (max-width: common.$breakpoint-tablet) {
  
}