@use '../../styles/common.scss';

.services {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.services-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.service-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow3);
  padding: 30px;
  gap: 10px;
}

.service-screwdriver {
  position: absolute;
  width: 130px;
  right: -115px;
  top: -27px;
}

.service-screw {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 20px;
}

.service-screw__top {
  top: 20px;
}

.service-screw__bottom {
  bottom: 20px;
}

.service_link {
  width: fit-content;
  margin-top: auto;
  color: var(--orange500);
  border-bottom: 1px solid var(--orange500);
}

.services-info {
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 38px;
  text-align: center;
}

.service_desc {
  color: var(--grey300);
}

.services-info_desc {
  color: var(--grey400);
}

.services-img {
  align-items: center;
  justify-content: center;

  img{
    height: 180px;
  }
}

.services-mobile {
  display: none;
  -ms-overflow-style: none;
}

.services-mobile::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.service-card__mobile {
  min-width: 258px;
  padding: 20px;
}


@media (max-width: common.$breakpoint-laptop) {
  .services {
    display: none;
  }

  .services-mobile {
    display: flex;
    overflow-x: auto;
    padding-top: 30px;
    gap: 10px;
    overflow-y: visible;
  }

  .service-screw {
    top: 10px;
    right: 10px;
    height: 10px;
    width: 10px;
  }

  .service-screwdriver {
    right: -80px;
    top: -28px;
    z-index: 10;
    width: 85px;
  }
}