@use '../../styles/common.scss';

.page-basket {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr min(312px, 25%);
  gap: 11px;
}

.basket-content,
.basket-placement {
  padding: 30px;
  padding-bottom: 50px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  height: fit-content;
  box-shadow: var(--shadow3);
}

.basket-list {
  display: flex;
  flex-direction: column;
}


@media (max-width: common.$breakpoint-laptop) {
  .page-basket {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}