:root {
  --white: #fff;
  --black-r: #000;
  --black-g: #161616;
  --black10: rgba(0, 0, 0, 0.1);
  --black30: rgba(0, 0, 0, 0.3);

  --grey950: #262626;
  --grey900: #3d3d3c;
  --grey800: #454545;
  --grey700: #4f4f4f;
  --grey600: #5d5d5d;
  --grey500: #727271;
  --grey400: #888888;
  --grey300: #b0b0b0;
  --grey200: #d1d1d0;
  --grey100: #e7e7e6;
  --grey50: #F6F6F5;

  --orange950: #3f100b;
  --orange900: #752519;
  --orange800: #912a1b;
  --orange700: #b63318;
  --orange600: #dc451a;
  --orange500: #ea5b21;
  --orange400: #ef7f48;
  --orange300: #f4ac7d;
  --orange200: #f9ceaf;
  --orange100: #fce9d8;
  --orange50: #fef5ee;

  --red: #F9A8B9;
  --yellow: #FBE576;
  --green: #A2D3A7;
  
  // --accent: #ED5B07;
  // --black60: rgba(0, 0, 0, 0.6);
  // --black40: rgba(0, 0, 0, 0.4);
  // --black20: rgba(0, 0, 0, 0.2);
  // --black10: rgba(0, 0, 0, 0.1);
  // --white60: rgba(255, 255, 255, 0.6);
  // --white15: rgba(255, 255, 255, 0.15);
  // --grey: #727270;
  // --dark-grey: #161616;

  --padding: 80px;
  --border-radius: 5px;
  --big-radius: 10px;
  --shadow3: 0 0 15px 0px rgba(0, 0, 0, 0.05);
  --shadow10: 0 0 15px 0px rgba(0, 0, 0, 0.1);
  --header-height: 149px;
}

body {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  background-color: var(--grey50);
  color: var(--black-r);
}

body {
  width: 100vw;
  overflow-x: hidden;
}

@supports (overflow-x: clip) {
  body {
    overflow-x: clip;
  }
}

a, a:link, button {
  cursor: pointer;
  transition: .2s;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// .page {
//   padding-bottom: 30px;
//   padding-top: var(--header-height);
// }

.page-content {
  padding: var(--padding);
  padding-bottom: 110px;
  padding-top: var(--header-height);
}

.inter32-700 {
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
}

.inter28-600 {
  font-weight: 600;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: 0%;
}

.inter24-700 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

.inter24-600 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

.inter20-700 {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0%;
}

.inter20-600 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.inter18-600 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.inter18-500 {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -1%;
}

.inter16-600 {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0%;
}

.inter16-500 {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.inter16-400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.inter14-600 {
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0%;
}

.inter14-500 {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
}

.inter14-400 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 135%;
}

.inter14-300 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 135%;
}

.inter13-500 {
  font-weight: 500;
  font-size: 13px;
  line-height: 135%;
  letter-spacing: 0%;
}

.inter13-400 {
  font-size: 13px;
}

.inter13-400__ls {
  font-size: 13px;
  line-height: 135%;
  letter-spacing: 0%;
}

.inter13-300 {
  font-size: 13px;
  font-weight: 300;
}

.inter12-400 {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
}

.inter11-600 {
  font-weight: 600;
  font-size: 11px;
  line-height: 120%;
}

.inter11-400 {
  font-size: 11px;
  line-height: 120%;
}


.accent-border {
  border: 2px solid var(--orange500);
  border-radius: var(--border-radius);
}

.accent-btn {
  background-color: var(--orange500);
  border-radius: var(--border-radius);
  color: var(--white);
}

.accent-btn:hover {
  background-color: var(--orange600);
}

.accent-btn__second {
  background-color: var(--orange200);
  border-radius: var(--border-radius);
}

.grey-btn {
  background-color: var(--grey100);
  color: var(--grey900);
  border-radius: var(--border-radius);
}

.grey-btn:hover {
  background-color: var(--grey950);
  color: var(--white);
}